@charset "utf-8";

html{
    background-color: rgb(224, 224, 224);
    padding-left: 10em;
    padding-right: 10em;
}

nav{
    background-color: aqua;
    border-radius: 105px;
    margin-top: .5%;
}
nav ul{
    display: -webkit-flex-box;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
 nav ul li{
    display: block;
    padding: 1%;
    margin-right: auto;
    margin-left: auto;
}
nav a{
    color: black;
}
nav a:hover, nav a:active{
    text-shadow: 10px 0px 20px rgb(26, 0, 121),
                -10px 0px 20px rgb(26, 0, 121); 
    border-radius: 105px;
}

p{
    font-size: 15px;
    padding: 5%;
    color: rgb(5, 238, 255);
    width: 35%;
    background-color: rgb(78, 78, 78);
    border-radius: 105px;
    line-height: 1.5em;
}

section.second{
    display: -webkit-flex-box;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0.884);
    border-radius: 55px;
}
section.top{
    padding-top: 1%;
    padding-bottom: 2%;
}
h1{
    display: block;
    text-align: center;
    font-size: 30px;
    border-radius: 105px;
    background-color: gray;
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}
img{
    margin-left: auto;
    margin-right: auto;
}
